<%- include('./partials/header') %>


    <div class="containerSignUp">
        <div class="mainBox">
            <h2>Cadastre-se!</h2>
            <div class="signUpBox">
                <form action="/signUp" method="POST" enctype="multipart/form-data">
                    <% if(typeof(errors) !="undefined" ) { %>
                        <div class="error">
                            <ul>
                                <% errors.forEach((error)=>{ %>
                                    <li>
                                        <%= error.msg %>
                                    </li>
                                    <% }) %>
                            </ul>
                        </div>
                        <% } %>
                            <label for="fullName">Nome Completo</label>
                            <input name="fullName" type="text" placeholder="digite seu nome" <% if(typeof(errors)
                                !="undefined" ) { %> value="<%= fields.name %>">
                                <% } %>
                                    <br>
                                    <label for=" username">Usuário</label>
                                    <input name="username" type="text" placeholder="@usuário" <% if(typeof(errors)
                                        !="undefined" ) { %> value="<%= fields.username %>">
                                        <% } %>
                                            <br>
                                            <label for="email">Email</label>
                                            <input name="email" type="emai" placeholder="email@email.com" <%
                                                if(typeof(errors) !="undefined" ) { %> value="<%= fields.email %>">
                                                <% } %>
                                                    <label for="emailConfirmation">Confirmar email</label>
                                                    <input name="emailConfirmation" type="email"
                                                        placeholder="email@email.com" <% if(typeof(errors) !="undefined"
                                                        ) { %> value="<%= fields.emailConfirmation %>">
                                                        <% } %>
                                                            <br>
                                                            <label for="phone">Celular</label>
                                                            <input name="phone" type="text"
                                                                placeholder="(XX) XXXXX-XXXX" <% if(typeof(errors)
                                                                !="undefined" ) { %> value="<%= fields.phone %>">
                                                                <% } %>
                                                                    <br>
                                                                    <label for="password">Senha</label>
                                                                    <input name="password" type="password"
                                                                        placeholder="digite sua senha">
                                                                    <label for="passwordConfirmation">Confirmar
                                                                        senha</label>
                                                                    <input name="passwordConfirmation" type="password"
                                                                        placeholder="confirme sua senha">
                                                                    <br>
                                                                    <label for="bioUpdate">Bio</label>
                                                                    <textarea placeholder="Fale um pouco sobre você"
                                                                        name="bioUpdate" cols="30"
                                                                        rows="5"><% if(typeof(errors)
                                                                        !="undefined" ) { %><%= fields.bioUpdate%><% } %></textarea>

                                                                    <label for="avatar">Avatar</label>
                                                                    <input type="file" name="avatar" accept="image/*">
                                                                    <br>
                                                                    <button type="submit">Cadastrar</button>
                                                                    <br>
                </form>
            </div>

        </div>
    </div>

    <%- include('./partials/footer') %>